.tableFilter
    margin: 40px 0

    &__label
        margin-right: 8px

    &__input
        box-sizing: border-box
        padding: 10px
        border: none
        border: 2px solid #dbdbdb
        background-color: #f8f8f8

    &__input:focus
        background-color: white