.companyDetails
    padding: 60px 0

    &__list
        list-style: none
        margin: 0
        padding: 0

        &--element
            margin: 8px
            font-size: 22px
            display: flex
