.tableContainer
    margin: 20px

    &__table
        border-collapse: collapse

        &--cellHeader, &--cell
            border-bottom: 1px solid #dbdbdb
            padding: 12px 12px
            text-align: center
            vertical-align: center

        &--cellHeader
            background-color: #dbdbdb
        &--cell:first-child
            text-align: right